[hidden]{
  display: none !important;
}

body {
  background: #fafafa;
  background-size: cover;
  color: #333;
}
body[data-state] .column-building,
body[data-state] #editor,
body[data-state] .CodeMirror {
  opacity: .5;
}
body[data-state="success"] {
  background-color: green;
  background-image: url('../media/state-success.gif');
}
body[data-state="failure"] {
  background-color: red;
  background-image: url('../media/state-failure.gif');
}

a,
a:link {
  color: #0074D9;
}
a:hover {
  color: #FF4136;
}

.love {
  color: #FF4136;
}

main {
  display : -webkit-flex;
  display : flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding: 0;
}

.column {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.column-building {
  width: 25%;
}
.column-code {
  width: 75%;
}

.building{
  background: #fafafa;
  background-size: contain;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.building * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.shaft {
  display: inline-block;
  margin: 0;
  position: relative;
}

.floor{
  background: #DDDDDD;
  color: white;
  height: 50px;
  line-height: 50px;
  margin: 1px;
  vertical-align: middle;
  width: 50px;
}
.floor[data-state="waiting"]{
  background-color: #FF851B !important;
}
.floor:before{
  content: attr(data-level);
  margin: 3px;
}

.floor,
.elevator {
  transition: background-color .3s ease-in;
}

.elevator{
  background-color: rgba(0, 116, 217, 0.33);
  bottom: 0;
  color: #fff;
  height: 50px;
  left: 0;
  line-height: 50px;
  padding: 0;
  position: absolute;
  margin: 1px;
  text-indent: 3px;
  transition-property: background-color, bottom;
  vertical-align: middle;
  width: 50px;

  /* @see http://matthewlein.com/ceaser/ */
  -webkit-transition-timing-function: cubic-bezier(0.925, 0.165, 0.260, 0.960);
  -moz-transition-timing-function: cubic-bezier(0.925, 0.165, 0.260, 0.960);
  -ms-transition-timing-function: cubic-bezier(0.925, 0.165, 0.260, 0.960);
  -o-transition-timing-function: cubic-bezier(0.925, 0.165, 0.260, 0.960);
  transition-timing-function: cubic-bezier(0.925, 0.165, 0.260, 0.960); /* custom */
}

.elevator,
.floor:before{
  font-family: monospace;
  font-size: 0.9em;
}

[data-elevators="1"] .building :nth-child(1) .floor,
[data-elevators="2"] .building :nth-child(1) .floor,
[data-elevators="3"] .building :nth-child(1) .floor,
[data-elevators="4"] .building :nth-child(1) .floor,
[data-elevators="2"] .building :nth-child(2) .floor,
[data-elevators="3"] .building :nth-child(2) .floor,
[data-elevators="4"] .building :nth-child(2) .floor,
[data-elevators="3"] .building :nth-child(3) .floor,
[data-elevators="4"] .building :nth-child(3) .floor,
[data-elevators="4"] .building :nth-child(4) .floor {
  background: #2ECC40;
}

[data-elevators="1"] .building :nth-child(1) .elevator,
[data-elevators="2"] .building :nth-child(1) .elevator,
[data-elevators="3"] .building :nth-child(1) .elevator,
[data-elevators="4"] .building :nth-child(1) .elevator,
[data-elevators="2"] .building :nth-child(2) .elevator,
[data-elevators="3"] .building :nth-child(2) .elevator,
[data-elevators="4"] .building :nth-child(2) .elevator,
[data-elevators="3"] .building :nth-child(3) .elevator,
[data-elevators="4"] .building :nth-child(3) .elevator,
[data-elevators="4"] .building :nth-child(4) .elevator {
  background: #0074D9;
}

#editor,
#level-selector,
.CodeMirror{
  text-align: left;
}

.CodeMirror,
.building {
  box-shadow: 0 0 5px rgba(100, 100, 100, .3);
}


#level-selector,
.CodeMirror,
.building {
  margin: 15px;
}

.CodeMirror {
}

footer {
  background: #e9e9e9;
  margin-top: 1.5em;
  padding: 10px;
  text-align: center;
}