[hidden]{
  display: none !important;
}

body {
  background: #fafafa;
  color: #333;
}

a,
a:link {
  color: #0074D9;
}
a:hover {
  color: #FF4136;
}

.love {
  color: #FF4136;
}

main {
  display : -webkit-flex;
  display : flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.column {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.column-building {
  width: 25%;
}
.column-code {
  width: 75%;
}

.building{
  background: #fafafa;
  background-size: contain;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.building * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.shaft {
  display: inline-block;
  margin: 0;
  position: relative;
}

.floor{
  background: #2ECC40;
  color: white;
  height: 50px;
  line-height: 50px;
  margin: 1px;
  transition: background-color .5s ease-in;
  vertical-align: middle;
  width: 50px;
}
.floor[data-state="waiting"]{
  background-color: #FF851B;
}
.floor:before{
  content: attr(data-level);
  margin: 3px;
}

.elevator{
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  background-color: #0074D9;
  text-indent: 3px;
  color: #fff;

  /* @see http://matthewlein.com/ceaser/ */
  -webkit-transition-timing-function: cubic-bezier(0.925, 0.165, 0.260, 0.960);
  -moz-transition-timing-function: cubic-bezier(0.925, 0.165, 0.260, 0.960);
  -ms-transition-timing-function: cubic-bezier(0.925, 0.165, 0.260, 0.960);
  -o-transition-timing-function: cubic-bezier(0.925, 0.165, 0.260, 0.960);
  transition-timing-function: cubic-bezier(0.925, 0.165, 0.260, 0.960); /* custom */
}

.elevator,
.floor:before{
  font-family: monospace;
  font-size: 0.9em;
}
#editor,
#level-selector,
.CodeMirror{
  text-align: left;
}

.CodeMirror,
.building {
  box-shadow: 0 0 5px rgba(100, 100, 100, .3);
}


#level-selector,
.CodeMirror,
.building {
  margin: 15px;
}

.CodeMirror {
}

footer {
  background: rgba(0, 0, 0, .05);
  margin-top: 1.5em;
  padding: 10px;
  text-align: center;
}