.column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.building{
  background: green;
  margin: 25px 50px;
  width: auto;
}

.building * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.shaft {
  display: inline-block;
  margin: 0;
  position: relative;
}

.floor{
  border: 2px solid white;
  color: white;
  height: 100px;
  margin: 0;
  width: 100px;
}
.floor:before{
  content: '.goToFloor(' attr(data-level) ')';
  margin: 3px;
}

.elevator{
  padding: 0;
  position: absolute;
  bottom: 2px;
  left: 2px;
  margin: 0;
  width: 96px;
  height: 96px;
  line-height: 96px;
  vertical-align: middle;
  text-align: center;
  background-color: #647;
  color: #DDD;

  /* @see http://matthewlein.com/ceaser/ */
  -webkit-transition-timing-function: cubic-bezier(0.925, 0.165, 0.260, 0.960);
  -moz-transition-timing-function: cubic-bezier(0.925, 0.165, 0.260, 0.960);
  -ms-transition-timing-function: cubic-bezier(0.925, 0.165, 0.260, 0.960);
  -o-transition-timing-function: cubic-bezier(0.925, 0.165, 0.260, 0.960);
  transition-timing-function: cubic-bezier(0.925, 0.165, 0.260, 0.960); /* custom */
}

.elevator,
.floor:before{
  font-family: monospace;
  font-size: 0.9em;
}

#run-code{
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  height: 100px;
}

#logs {
  border: 1px solid black;
  border-top: none;
  padding: 5px;
  font-family: monospace;

  margin: 0;
  overflow: scroll;

  min-height: 200px;
  max-height: 300px;
}
  #logs p{
    margin-top: 0;
  }
  #logs p:before{
    content: "» ";
  }